<form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="space-around start">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="formGroup.get('firstName')?.hasError('required')">Required.</mat-error>
      <mat-error *ngIf="formGroup.get('firstName')?.hasError('maxlength')">Name cannot exceed 50 characters in length.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="formGroup.get('lastName')?.hasError('required')">Required.</mat-error>
      <mat-error *ngIf="formGroup.get('lastName')?.hasError('maxlength')">Name cannot exceed 50 characters in length.</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="married">Married</mat-checkbox>
    <div *ngIf="formGroup.get('married')?.value" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Spouse First Name</mat-label>
        <input matInput formControlName="spouseFirstName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Spouse Last Name</mat-label>
        <input matInput formControlName="spouseLastName" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" />
      <mat-error *ngIf="formGroup.get('phoneNumber')?.hasError('required')">Required</mat-error>
      <mat-error *ngIf="formGroup.get('phoneNumber')?.hasError('pattern')">Please enter a proper phone number</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Spouse Last Name</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>

<pre>Value: {{ formGroup.value | json }}</pre>
<pre>Valid: {{ formGroup.valid }}</pre>
