<p>user works!</p>

<form [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error>Required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error>Required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Spouse First Name</mat-label>
      <input matInput formControlName="spouseFirstName" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Spouse Last Name</mat-label>
      <input matInput formControlName="spouseLastName" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" />
      <mat-error>Required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Spouse Last Name</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </p>
  <button mat-button type="submit">Submit</button>
</form>

<pre>Value: {{ formGroup.value | json }}</pre>
<pre>Valid: {{ formGroup.valid }}</pre>
